{% extends 'rental_exchange/base.html' %}
{% load static %}
{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight"
         style="background-image: url({% static 'rental_exchange/images/bg_2.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="index-2.html">Home <i
                        class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
                        class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Choose Your Car</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-wrap-1 ftco-animate mb-5">
                    <form action="#" method="get" class="search-property-1">
                        <div class="row">
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="model">Select Model</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span><i class="fas fa-chevron-down"></i></span></div>
                                            <select name="model" id="model" class="form-control">
                                                <option value="">Select Model</option>
                                                {% for model in models %}
                                                <option value="{{ model.model_no }}">{{ model.model_no }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="brand">Select Brand</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span><i class="fas fa-chevron-down"></i></span></div>
                                            <select name="brand" id="brand" class="form-control">
                                                <option value="">Select Brand</option>
                                                {% for brand in brands %}
                                                <option value="{{ brand.id }}">{{ brand.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="year_model">Year Model</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span><i class="fas fa-chevron-down"></i></span></div>
                                            <select name="year_model" id="year_model" class="form-control">
                                                <option value="">Year Model</option>
                                                {% for model_year in model_years %}
                                                <option value="{{ model_year.model_year }}">{{ model_year.model_year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-self-end">
                                <div class="form-group">
                                    <div class="form-field">
                                        <input type="submit" value="Search" class="form-control btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            {% for car in cars %}
            <div class="col-md-3">
                <div class="car-wrap ftco-animate">
                    <div class="img d-flex align-items-end"
                         style="background-image: url({{ car.image.url }});">
                        <div class="price-wrap d-flex">
                            <span class="rate">{{ car.rental_price }}</span>
                            <p class="from-day">
                                <span>From</span>
                                <span>/{{ car.price_variable }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="text p-4 text-center">
                        <h2 class="mb-0"><a href="{{ car.get_absolute_url }}">{{ car.name }}</a></h2>
                        <span>{{ car.brand }}</span>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-black btn-outline-black mr-1">Book
                            now</a> <a
                                href="{{ car.get_absolute_url }}"
                                class="btn btn-black btn-outline-black ml-1">Details</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
