{% extends 'rental_exchange/admin/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add New Admin</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'admin-home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Add New Admin</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                <div class="card-header">
                    <a class="btn btn-info float-left" href="{% url 'admin-admin-list' %}"><i
                            class="fas fa-arrow-left"></i>
                        Go Back To List</a>
                    <button type="submit" class="btn btn-success float-right"><i class="fas fa-save"></i> Save</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header bg-dark">
                                    <h3 class="card-title"><strong>Personal Information</strong></h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            {{ form.first_name.label_tag }}
                                            {% if form.first_name.help_text %}
                                            <sup>{{ form.first_name.help_text }}</sup>
                                            {% endif %}
                                            {{ form.first_name.errors }}
                                            {{ form.first_name|add_class:"form-control" }}
                                        </div>
                                        <div class="form-group col">
                                            {{ form.last_name.label_tag }}
                                            {% if form.last_name.help_text %}
                                            <sup>{{ form.last_name.help_text }}</sup>
                                            {% endif %}
                                            {{ form.last_name.errors }}
                                            {{ form.last_name|add_class:"form-control" }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            {{ form.country.label_tag }}
                                            {% if form.country.help_text %}
                                            <sup>{{ form.country.help_text }}</sup>
                                            {% endif %}
                                            {{ form.country.errors }}
                                            {{ form.country|add_class:"form-control" }}
                                        </div>
                                        <div class="form-group col">
                                            {{ form.city.label_tag }}
                                            {% if form.city.help_text %}
                                            <sup>{{ form.city.help_text }}</sup>
                                            {% endif %}
                                            {{ form.city.errors }}
                                            {{ form.city|add_class:"form-control" }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.address.label_tag }}
                                        {% if form.address.help_text %}
                                        <sup>{{ form.address.help_text }}</sup>
                                        {% endif %}
                                        {{ form.address.errors }}
                                        {{ form.address|add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header bg-dark">
                                    <h3 class="card-title"><strong>Authentication</strong></h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.email.label_tag }}
                                        {% if form.email.help_text %}
                                        <sup>{{ form.email.help_text }}</sup>
                                        {% endif %}
                                        {{ form.email.errors }}
                                        {{ form.email|add_class:"form-control" }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password1.label_tag }}
                                        {% if form.password1.help_text %}
                                        <sup>{{ form.password1.help_text }}</sup>
                                        {% endif %}
                                        {{ form.password1.errors }}
                                        {{ form.password1|add_class:"form-control" }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password2.label_tag }}
                                        {% if form.password2.help_text %}
                                        <sup>{{ form.password2.help_text }}</sup>
                                        {% endif %}
                                        {{ form.password2.errors }}
                                        {{ form.password2|add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </form>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block pageSpecificScript%}

{% endblock %}